.review { grid-area: review; }
.editik { grid-area: editik; }
.header { grid-area: header; }
.comment { grid-area: comment; }
.bool { grid-area: bool; }
.user { grid-area: user; }
.date { grid-area: date; }

.h3div{
    width: 960px;
    margin: 0 auto;
}

.grid-reviews {
    width: 900px;
    display: grid;
    grid-template-areas:
      'review review review review editik '
      'header header header header header '
      'comment comment comment comment comment '
      'comment comment comment comment comment '
      'bool bool user user date ';
    background-color: #4CAF50;
    padding: 5px;
    margin: 0 auto;
  }
  
.grid-reviews > div {
   background-color: white;
   padding: 2px 15px 2px 15px;
}

.header {
    font-weight: bold;
}

.header, .comment, .review, .bool {
    margin-left: 15px;
    padding-left: 15px !important;
}

.comment {
    padding: 10px 15px 10px 15px !important;
}

.user {
    padding-right: 20px !important;
    text-align: right;
}

.bool {
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
}

.bool,.user,.date {
    color: white !important;
    background-color: #4CAF50 !important;
}

.greenBG {
    background-color: #4CAF50 !important;
}

.redBG {
    background-color: rgb(223, 91, 91) !important;
    color: inherit;
}

.edit-review,.delete-review {
    all: unset !important;
    cursor: pointer !important;
}

.editik {
    text-align: right;
    padding-right: 10px !important;
}

.btn-add-review {
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 2px 2px;
    background-color: #4CAF50;
    margin-left: 20px;
    width: 220px;
    height: 50px;
    float: right;
}
    

@media only screen and (max-width: 1000px) {
    .grid-reviews, .h3div {
        margin: 15px;
        width: auto;
    }
}

@media only screen and (max-width: 768px) {
    .h3div {
        position: relative;
        padding-bottom: 30px;
    }
    
    .btn-add-review {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 50px;
    }
}